      <div class="background"></div>
      <div class="body_color">
                <h1 class="tropies-header">TROPHIES</h1>
            <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "blog_badge.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Label</h4>
              <div class="label">Something else</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
             <%= image_tag "crown.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Label</h4>
              <span class="label">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "thumbs_up.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Label</h4>
              <span class="label">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "guitar.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Label</h4>
              <span class="label">Something else</span>
            </div>
          </section>
      </div>
    </div>
    <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
             <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <div class="label">Something else</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
          </section>
      </div>
    </div>

    <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <div class="label">Something else</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
             <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
          </section>
      </div>
    </div>

    <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <div class="label">Something else</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
          </section>
      </div>
    </div>

    <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <div class="label">Something else</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
          </section>
      </div>
    </div>

    <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <div class="label">Something else</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <%= image_tag "badge-privacy-large.gif", class: "img-fluid rounded-circle", width: 200, height: 200 %>
              <h4 class="label">Locked</h4>
              <span class="label">Something else</span>
            </div>
          </section>
      </div>
    </div>
</div>